apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-springboot-app
  labels:
    app: java-springboot-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: java-springboot-app
  template:
    metadata:
      labels:
        app: java-springboot-app
    spec:
      containers:
        - name: java-springboot-app
          image: rootpromptnext/java-springboot-app:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20

---
apiVersion: v1
kind: Service
metadata:
  name: java-springboot-app
spec:
  type: NodePort
  selector:
    app: java-springboot-app
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30080
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: java-springboot-app
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - host: springboot.rpn-labs
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: java-springboot-app
                port:
                  number: 80
                    
